@charset "UTF-8";
body {
  font-family: YuGothic, "Yu Gothic", "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif;
}

.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.3s;
}
.slide-fade-enter-from, .slide-fade-leave-to {
  opacity: 0;
  transform: translateY(-1rem);
}

.fade-enter-active {
  transition: all 0.3s ease;
}
.fade-leave-active {
  transition: all 0.3s;
}
.fade-enter-from, .fade-leave-to {
  opacity: 0;
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 640px) {
  .section-title {
    min-height: 3em;
  }
}

main {
  min-height: 90vh;
}

footer {
  height: 10vh;
  margin-top: auto;
}

.edit {
  transition: all 0.3s;
}
.edit::after {
  content: "編集する";
  border: 0.5px solid rgba(128, 128, 128, 0.33);
  padding: 0.5rem 1rem;
}
.edit:hover {
  opacity: 0.7;
}